@model TechBlogCMS.UI.Models.BlogPostAllVM
@{
    ViewBag.Title = "ShowAllBlogPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Html.ActionLink("View All Blog Posts", "ShowAllBlogPost", "DisplayBlogPosts")</h3>

<div class="row">
    <div class="col-lg-4">
        <div class="col-sm-12">
            <div class="nav nav-pills nav-stacked">
                <div class="btn btn-link">
                    @if (Model.Categories != null)
                    {
                        <div class="col-sm-6">
                            <form action="ShowAllBlogPost" method="Post">

                                @Html.Label("Filter Posts By Category")
                                <br />
                                @Html.DropDownListFor(x => x.SelectedCategoryId, Model.Categories, new { @class = "btn btn-default dropdown-toggle" })
                                <button class="btn btn-default">Submit</button>

                            </form>
                        </div>
                    }
                </div>
                <div class="btn btn-link">
                    @if (Model.Hashtags != null)
                    {
                        <div class="col-sm-6">
                            <form action="ShowAllBlogPost" method="Post">

                                @Html.Label("Filter Posts By Hashtag")
                                <br />
                                @Html.DropDownListFor(x => x.SelectedHashtagId, Model.Hashtags, new { @class = "btn btn-default dropdown-toggle" })
                                <button class="btn btn-default">Submit</button>

                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-8">
        <div class="row">
            <div class="col-sm-10">
                @if (!string.IsNullOrWhiteSpace(Model.SelectedCategoryName))
                {
                    <h4><b>Category: @Model.SelectedCategoryName</b></h4>
                }
                else if (!string.IsNullOrWhiteSpace(Model.SelectedHashtagName))
                {
                    <h4><b>#@Model.SelectedHashtagName</b></h4>

                }
                @if (Model.BlogPosts != null && Model.BlogPosts.Count > 0)
                {

                    foreach (var post in Model.BlogPosts)
                    {
                        <table class="table-condensed">
                            <tr>
                                <td><h4><b>@Html.ActionLink(@post.PostTitle,"ShowSinglePost", new { id = post.BlogPostID }) </b></h4></td>
                                <td><h5><em>@post.DateOfPost.ToLongDateString()</em></h5></td>
                            </tr>
                        </table>
                        <div id="postContent">

                            @Html.Raw(post.PostContent)
                            Created By: @post.User.UserName

                            <div id="categoriesOfBlog"></div>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <p>There are no blog posts to display</p>

                }

            </div>

        </div>
    </div>
</div>
