@using TechBlogCMS.Models
@using TechBlogCMS.UI.Migrations
@using TechBlogCMS.UI.Models
@model TechBlogCMS.UI.Models.ApprovalVM
@{
    ViewBag.Title = "PendingApproval";
}


<h1>Approvals</h1>
    <div id="accordion">
        <div class="group">
                <h3>  Pending Post Approvals</h3>
            <div class="postapprovals">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Discard</th>
                        <th>User Name</th>
                        <th>Post Title</th>
                        <th>Post Date</th>
                        <th>Approval Status</th>

                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var p in Model.ListOfPosts)
                    {
                        <tr>
                            <td><form action="/PendingApproval/Delete" method="Post">
    <input type="hidden" name="id" id="id" value="@p.BlogPostID" />
    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
</form>   </td>
                            <td>@p.User.UserName</td>
                            <td>@p.PostTitle</td>
                            <td>@p.DateOfPost.ToString("d")</td>
                            <td>
                                <form action="/PendingApproval/PendingApproval" method="Post">
                                    @Html.DropDownListFor(x => x.StatusId, Model.Statuses, new {@class = "btn btn-default dropdown-toggle btn-sm"})
                                    <input type="hidden" name="blogPostId" id="blogPostId" value="@p.BlogPostID"/>
                                    <button class="btn btn-default btn-sm">Update</button>
                                </form>
                               
                            </td>
                            
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="group">
            <h3>  Drafted Posts</h3>
          <div class="drafts">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Post Title</th>
                        <th>Post Date</th>
                        <th>Approval Status</th>

                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var p in Model.DraftedPosts)
                    {
                        <tr>
                            <td>@p.User.UserName</td>
                            <td>@p.PostTitle</td>
                            <td>@p.DateOfPost.ToString("d")</td>
                            <td>
                                <form action="/PendingApproval/PendingApproval" method="Post">
                                    @Html.DropDownListFor(x => x.StatusId, Model.Statuses)
                                    <input type="hidden" name="blogPostId" id="blogPostId" value="@p.BlogPostID"/>
                                    <button>Update</button>
                                </form>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="group">
            <h3> Rejected Posts</h3>
            <div class="rejected">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Post Title</th>
                        <th>Post Date</th>
                        <th>Approval Status</th>

                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var p in Model.RejectedPostsList)
                    {
                        <tr>
                            <td>@p.User.UserName</td>
                            <td>@p.PostTitle</td>
                            <td>@p.DateOfPost.ToString("d")</td>
                            <td>@p.Status.StatusType</td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>

        <div class="group">
            <h3>  Scheduled Posts</h3>
            <div class="scheduled">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Post Title</th>
                            <th>Post Date</th>
                            <th>Approval Status</th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var p in Model.ScheduledPosts)
                        {
                            <tr>
                                <td>@p.User.UserName</td>
                                <td>@p.PostTitle</td>
                                <td>@p.DateOfPost.ToString("d")</td>
                                <td>Current Status: @p.Status.StatusType</td>
                                <td>
                                    <form action="/PendingApproval/PendingApproval" method="Post">
                                        @Html.DropDownListFor(x => x.StatusId, Model.Statuses)
                                        <input type="hidden" name="blogPostId" id="blogPostId" value="@p.BlogPostID" />
                                        <button>Update</button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    <div class="group">
        <h3>Pending Comment Approvals</h3>
        <div class="commentapprovals">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Comment Date</th>
                        <th>Nickname</th>
                        <th>Comment</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var comment in Model.CommentsToBeApproved)
                {
                    <tr>
                        <td>
                            <form action="/PendingApproval/DeleteComment" method="Post">
                                <input type="hidden" name="id" id="id" value="@comment.CommentID" />
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                            </form>
                        </td>
                        <td>@comment.DateOfComment.ToShortDateString()</td>
                        <td>@comment.Nickname</td>
                        <td>@comment.CommentContent</td>
                        <td>
                            <form action="/PendingApproval/ApproveComment" method="Post">
                                @Html.DropDownListFor(x => x.StatusId, new List<SelectListItem>() { new SelectListItem () 
                           {
                               Text="Approve",
                           
                           }
                           
                           }, new { @class = "btn btn-default dropdown-toggle btn-sm"})
                                <input type="hidden" name="commentId" id="commentId" value="@comment.CommentID" />

                                <button class="btn btn-default btn-sm">Update</button>
                            </form>

                        </td>
                
                </tr>
                }
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            
            $("#accordion")
              .accordion({
                  collapsible: true,
                  header: "> div > h3"
              })
      .sortable({
          axis: "y",
          handle: "h3",
          stop: function (event, ui) {
              // IE doesn't register the blur when sorting
              // so trigger focusout handlers to remove .ui-state-focus
              ui.item.children("h3").triggerHandler("focusout");

              // Refresh accordion to handle new order
              $(this).accordion("refresh");
          }
      });
 });
      
    </script>
}






