@model TechBlogCMS.Models.BlogPost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Post Title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>



        <dt>
            @Html.Label("Date of Post")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPost)
        </dd>
        <dt>
            @Html.Label("Post Content")
        </dt>

        <dd>
            @Html.Raw(Model.PostContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogPostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
